<div class="container">
  <h1>
    TITULO
  </h1>

  <div class="row" style="background-color: yellow;">
    FILA
    <div class="col-sm-12" style="background-color: chocolate;">
      columna 12
    </div>
    <div class="col-sm-6" style="background-color: green;">
      columna 6
    </div>
    <div class="col-sm-6" style="background-color: goldenrod;">
      columna 6
    </div>
    <div class="col-sm-4" style="background-color: rebeccapurple;">
      columna 4
    </div>
    <div class="col-sm-4" style="background-color: red;">
      columna 4
    </div>
    <div class="col-sm-4" style="background-color: gray;">
      columna 4
    </div>
  </div>
  <div class="container">
    <app-padre>
    </app-padre>
  </div>
</div>
<div>
</div>

<h1>
  DIRECTIVAS
</h1>
<h2>angular => ngIf</h2>

<button type="button" class="btn btn-outline-success" (click)="eventoClick()">
  Success</button>
<p *ngIf="esconderHola">
  hola
</p>

<h2>angular => ngfor</h2>
{{arregloNuemros}}
<li *ngFor="let numero of arregloNuemros">
  <ul> {{numero.nombre}} </ul>
</li>

<h1>
  emmet
</h1>
*3
+
>
.clase
<div class="titulo"></div>

<div class="row titulo"></div>

<div class="nombreClase">
</div>

<div class="row">
  <div class="col-sm-12"></div>
  <div class="col-sm-6"></div>
  <div class="col-sm-3"></div>
  <div class="col-sm-3"></div>
</div>

<div class="row">
  <div class="col-sm-12"></div>
  <div class="col-sm-6"></div>
  <div class="col-sm-3"></div>
  <div class="col-sm-3"></div>
</div>

<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </li>
</ul>

<div class="row" style="background-color: #00aca2;">
  <div class="col-sm-1"></div>
  <div class="col-sm-1">
    ANT
  </div>
  <div class="col-sm-1">Servicios</div>
  <div class="col-sm-1">Programas</div>
  <div class="col-sm-1">Regulacion</div>
  <div class="col-sm-1">No</div>
  <div class="col-sm-1">Trans</div>
  <div class="col-sm-1">Res</div>
  <div class="col-sm-1">Trasn</div>
  <div class="col-sm-1">Const</div>
  <div class="col-sm-1"></div>
  <div class="col-sm-1"></div>
</div>
<div>
  estoy es codigo
</div>

<div>
  estoy es otro codigo
</div>



<!-- LINK DE LA PAGINA: https://www.crunchyroll.com/es/videos/anime -->

<div class="row" style="background-color: chocolate;">
  <div class="col-sm-4"></div>
  <div class="col-sm-8" style="background-position:center">
    <h3 class="p1">
      SIN ANUNCIOS CON TU PRUEBA GRATUITA
    </h3></div>
</div>

<div class="row">
  <div class="col-sm-1" class="p1">.</div>
</div>

<div class="row" style="background-color:dimgray;">
  <div class="col-sm-1"></div>
  <div class="col-sm-1" 
  style="background-color: floralwhite;"><h6>
  Anime
  </h6></div>
  <div class="col-sm-1" style="background-color: black;"><h6 class="p1">Drama</h6></div>
</div>

<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-1"><h6>Popular</h6></div>
  <div class="col-sm-1"><h6 class="p2">Simulcasts</h6></div>
  <div class="col-sm-1"><h6 class="p2">Novedades</h6></div>
  <div class="col-sm-1"><h6 class="p2">Alfabético</h6></div>
  <div class="col-sm-1"><h6 class="p2">Género</h6></div>
  <div class="col-sm-1"><h6 class="p2">Temporadas</h6></div>
</div>

<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-1"><img itemprop="photo" alt="Black Clover" src="https://img1.ak.crunchyroll.com/i/spire2/1a39d39cbe3346cce5e44577cbb895041579741401_thumb.jpg" class="portrait"></div>
  <div class="col-sm-1"></div>
  <div class="col-sm-1"><img itemprop="photo" alt="One Piece" src="https://img1.ak.crunchyroll.com/i/spire4/8056a82e973dde98ebb82abd39dc69731564519729_thumb.jpg" class="portrait"></div>
  <div class="col-sm-1"></div>
  <div class="col-sm-1"><img itemprop="photo" alt="BORUTO: NARUTO NEXT GENERATIONS" src="https://img1.ak.crunchyroll.com/i/spire2/2c9d74492778613657e9bdfe38214f851588360723_thumb.jpg" class="portrait"></div>
  <div class="col-sm-1"></div>
  <div class="col-sm-1"><img itemprop="photo" alt="Naruto Shippuden" src="https://img1.ak.crunchyroll.com/i/spire4/1c1df98707aa0f22aa54342af725e48a1491245343_thumb.jpg" class="portrait"></div>
  <div class="col-sm-1"></div>
  <div class="col-sm-3"><h6>Prueba Gratuita</h6>
    Sin comerciales, Videos de Alta Definición a su computador, T.V. y equipos móviles.
    <h6 class="p1">.</h6>
    <h6 class="p3">Inicie su período gratuito de 14 días</h6>
    <h6 class="p1">.</h6>
    <h6 class="p2">______________________________________________</h6>
    <h6 class="p1">.</h6>
    <h6>Series Destacadas</h6>
    <h6><img itemprop="photo" alt="Princess Connect! Re: Dive" src="https://img1.ak.crunchyroll.com/i/spire4/e33055712235d414110792b71817543f1586177976_small.jpg" class="portrait medium-margin-right left"> Princess Connect! Re: Dive</h6>
  </div>

</div>

<div class="row">
  <div class="col-sm-1" class="p1">.</div>
</div>

<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-1"><img itemprop="photo" alt="Tower of God" src="https://img1.ak.crunchyroll.com/i/spire1/fa0713e8265fb81ad6c801e1148b4c9d1585603263_thumb.jpg" class="portrait"></div>
  <div class="col-sm-1"></div>
  <div class="col-sm-1"><img itemprop="photo" alt="Princess Connect! Re: Dive" src="https://img1.ak.crunchyroll.com/i/spire4/e33055712235d414110792b71817543f1586177976_thumb.jpg" class="portrait"></div>
  <div class="col-sm-1"></div>
  <div class="col-sm-1"><img itemprop="photo" alt="My Hero Academia" src="https://img1.ak.crunchyroll.com/i/spire2/cccce22d1dfaaf713284a617ee0b539a1572467883_thumb.jpg" class="portrait"></div>
  <div class="col-sm-1"></div>
  <div class="col-sm-1"><img itemprop="photo" alt="Hunter x Hunter" src="https://img1.ak.crunchyroll.com/i/spire3/cbb55a6382682bf71e91f685c6473c5a1487736090_thumb.jpg" class="portrait"></div>
</div>
