<p>home works!</p>
<button [routerLink]="['/login']">
    ir a login
</button>
<button [routerLink]="['/usuario','listar']">
    ir a USAURIO LISTAR
</button>
<button
(click)="irAUsuarioListar()"
>
    ir a usuario con click
</button>

<div class="form">
      
    <ul class="tab-group">
      <li class="tab active"><a href="#signup">Sign Up</a></li>
      <li class="tab"><a href="#login">Log In</a></li>
    </ul>
    
    <div class="tab-content">
      <div id="signup">   
        <h1>Sign Up for Free</h1>
        
        <form method="post">
        
        <div class="top-row">
          <div class="field-wrap">
            <label>
              Nombre<span class="req">*</span>
            </label>
            <input type="text" required autocomplete="off" />
          </div>
      
          <div class="field-wrap">
            <label>
              Apellido<span class="req">*</span>
            </label>
            <input type="text"required autocomplete="off"/>
          </div>
        </div>

        <div class="field-wrap">
          <label>
            Email<span class="req">*</span>
          </label>
          <input type="email"required autocomplete="off"/>
        </div>
        
        <div class="field-wrap">
          <label>
            Password<span class="req">*</span>
          </label>
          <input type="password"required autocomplete="off"/>
        </div>
        
        <div class="field-wrap">
            <label>
              Confirma Password<span class="req">*</span>
            </label>
            <input type="confirmarPassword"required autocomplete="off"/>
          </div>

        <button type="submit" class="button button-block">Registrar</button>
        
        </form>

      </div>
      
    </div><!-- tab-content -->
    
</div> <!-- /form -->

<head>
    <script language="JavaScript" type="text/JavaScript">
    function verif(formu)
    {	if (formu.c1.value==formu.c2.value) 
    { alert('las contraseñas coinciden'); return true }
        else 
    { alert('las dos contraseñas no son iguales'); return false }
    }
    </script>
    </head>
    <body>
    <form>
    Contraseña: <input type="password" name="c1">
    <br>
    Repite contraseña: <input type="password" name="c2">
    <input type='button' value='Validar' onclick='return(verif(this.form)); MM_validateForm()'>
    </form>
    </body> 

<script>
    $('.form').find('input, textarea').on('keyup blur focus', function (e) {
  
  var $this = $(this),
      label = $this.prev('label');

	  if (e.type === 'keyup') {
			if ($this.val() === '') {
          label.removeClass('active highlight');
        } else {
          label.addClass('active highlight');
        }
    } else if (e.type === 'blur') {
    	if( $this.val() === '' ) {
    		label.removeClass('active highlight'); 
			} else {
		    label.removeClass('highlight');   
			}   
    } else if (e.type === 'focus') {
      
      if( $this.val() === '' ) {
    		label.removeClass('highlight'); 
			} 
      else if( $this.val() !== '' ) {
		    label.addClass('highlight');
			}
    }

});

$('.tab a').on('click', function (e) {
  
  e.preventDefault();
  
  $(this).parent().addClass('active');
  $(this).parent().siblings().removeClass('active');
  
  target = $(this).attr('href');

  $('.tab-content > div').not(target).hide();
  
  $(target).fadeIn(600);
  
});
</script>

