<body background="https://androidayuda.com/app/uploads-androidayuda.com/2016/09/iPhone-7-Plus.jpg">
    <div class="container">
      <div class="row">
          <div class="col-md-offset-5 col-md-12 text-center">
              
              
          </div>
      </div>
  </div>
  <div class="container">
    <div class="row">
        <div class="col-md-offset-5 col-md-12 text-center">
            
            
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-offset-5 col-md-12 text-center">
            
            
        </div>
    </div>
</div>
  </body>


