<div class="col-md-4" *ngFor="let celular of celulares">
    <div class="card text-center">
        <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
            {{celular.title}}
            <button class="btn btn-danger" (click)='deleteCelular(celular.id)'> 
                <i class="fa fa-trash-alt"></i>
            </button>
        </div>
        <img src="{{celular.image}}" class="card-img-top">
        <div class="card-body">
            <p>{{celular.description}}</p>
            <p>Stock = {{celular.stock}}</p>
            <p>Precio ${{celular.precio}}</p>
            <a [routerLink]="['/celulares/editar', celular.id]" class="btn btn-info btn-block">
                EDITAR CELULAR
            </a>
        </div>
    </div>
</div>

<div class="col-md-6"></div>
<div style="text-align: center; padding-top: 1rem;">
    <input class="btn btn-outline-warning" type="submit" value="Regresar"  [routerLink]="['/home']">
    </div>